<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yx1.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.yx1.po.Product" >
    <id column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="descript" property="descript" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
    <result column="product_status" property="productStatus" jdbcType="TINYINT" />
    <result column="spu_id" property="spuId" jdbcType="BIGINT" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="product_img" property="productImg" jdbcType="VARCHAR" />
    <result column="inventory" property="inventory" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_id, product_name, product_code, price, descript, create_time, modified_time, 
    product_status, spu_id, is_deleted, product_img, inventory
  </sql>

  <select id="getProductPageList" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    product
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from product
    where product_id = #{productId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from product
    where product_id = #{productId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yx1.po.Product" >
    insert into product (product_id, product_name, product_code, 
      price, descript, create_time, 
      modified_time, product_status, spu_id, 
      is_deleted, product_img, inventory
      )
    values (#{productId,jdbcType=BIGINT}, #{productName,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{descript,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{productStatus,jdbcType=TINYINT}, #{spuId,jdbcType=BIGINT}, 
      #{isDeleted,jdbcType=BIT}, #{productImg,jdbcType=VARCHAR}, #{inventory,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yx1.po.Product" >
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="descript != null" >
        descript,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifiedTime != null" >
        modified_time,
      </if>
      <if test="productStatus != null" >
        product_status,
      </if>
      <if test="spuId != null" >
        spu_id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="productImg != null" >
        product_img,
      </if>
      <if test="inventory != null" >
        inventory,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="descript != null" >
        #{descript,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productStatus != null" >
        #{productStatus,jdbcType=TINYINT},
      </if>
      <if test="spuId != null" >
        #{spuId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="productImg != null" >
        #{productImg,jdbcType=VARCHAR},
      </if>
      <if test="inventory != null" >
        #{inventory,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yx1.po.Product" >
    update product
    <set >
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="descript != null" >
        descript = #{descript,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productStatus != null" >
        product_status = #{productStatus,jdbcType=TINYINT},
      </if>
      <if test="spuId != null" >
        spu_id = #{spuId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="productImg != null" >
        product_img = #{productImg,jdbcType=VARCHAR},
      </if>
      <if test="inventory != null" >
        inventory = #{inventory,jdbcType=INTEGER},
      </if>
    </set>
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yx1.po.Product" >
    update product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      descript = #{descript,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      product_status = #{productStatus,jdbcType=TINYINT},
      spu_id = #{spuId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=BIT},
      product_img = #{productImg,jdbcType=VARCHAR},
      inventory = #{inventory,jdbcType=INTEGER}
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
</mapper>